.header {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  padding: 4rem 6rem;
  align-items: center;
  &__logo {
    width: 50px;
  }

  &__nav {
    margin-left: 8rem;

    .nav__list {
      display: grid;
      list-style: none;
      // grid-template-columns: repeat(4, minmax(150px, 1fr));
      grid-template-columns: repeat(4, minmax(100px, 1fr));

      @media (min-width: 900px) {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
      }
    }
    .list__item {
      text-transform: uppercase;
      margin-right: 9rem;

      text-decoration: none;
    }

    .list__link {
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    grid-row: 2;
    grid-column: 1 / -1;
    justify-self: end;
    width: 100%;

    @media (min-width: 1150px) {
      margin-top: 0;
      grid-row: 1;
      grid-column: 3;
      width: auto;
    }

    position: relative;

    input {
      padding-left: 3.5rem;
      width: 100%;
      height: 4.5rem;
      border: none;
      @media (min-width: 1150px) {
        width: 22rem;
      }
    }
  }
}

.icon {
  &__search {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
  }
  &__bag {
    max-width: 3.4rem;
    height: 3.4rem;
    margin-left: 2rem;
  }
}
