.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

// .price {
// }

// .main {
//   display: grid;
//   grid-template-columns: 1fr 1fr;

//   .product {
//     background-color: #c4c4c4;
//     position: relative;
//   }
// }
